.albumLink {
    float: left;
    text-decoration: none;
}

.imageTitle {
    width: 100%;
    text-align: center;
}

.picBox {
    width: 750px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    color: indigo;
}

.lArr {
    margin: 100px -70px;
    font-size: 50px;
    font-weight: bold;
}

.imageBox {
    width: 750px;  
}

#picture {
    width: 100%;
}

.rArr {
    margin: 100px -70px;
    font-size: 50px;
    font-weight: bold;  
}
